.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  color: var(--mainGrey);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--mainWhite);
}


.btn-checkout {
  margin-top: 3rem;
  width: 90%;
  display: block;
  font-size: 1.4rem;
  background: var(--primaryColor);
  color: var(--mainGrey);
  border: none;
  padding: 1.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  cursor: pointer;
}

.btn-checkout:hover {
  background: var(--secondBlack);
}

.btn-paypal {
  display: block;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 90%;
  background: var(--paypal);
  color: var(--mainGrey);
  border: none;
  padding: 1.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.btn-paypal:hover {
  background: var(--paypalHover);
}