/* ************************* */
/* CART */
/* ************************* */

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: var(--boxShadowOverlay);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  overflow-y: scroll;
  z-index: 3;
  padding: 1.5rem;
  background: var(--mainWhite);
  transition: var(--mainTransition);
  transform: translateX(100%);
  box-shadow: 2px 8px 16px 3px var(--mainBoxShadow)
}

.showCart {
  transform: translateX(0);
}

.close-cart-menu {
  font-size: 1.9rem;
  cursor: pointer;
}

.transparentBcg {
  visibility: visible;
}

/* ************************* */
/* CART ITEM */
/* ************************* */

.cart-content {
  font-size: 1.4rem;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 80%;
  height: 80%;
}

.cart-item h4 {
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: var(--removeItem);
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}

/* ************************* */
/* CART FOOTER */
/* ************************* */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.space {
  color: var(--removeItem);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ************************* */
/* VIEW CART */
/* ************************* */
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* ************************* */
/* CLEAR CART */
/* ************************* */

.danger-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--alertColor);
  color: var(--mainWhite);
  border: 1px solid var(--alertColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.danger-btn:hover {
  background: transparent;
  color: var(--alertColor);
}

/* ************************* */
/* CART PRODUCTS PAGE */
/* ************************* */

.cart-products {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 6rem;
  margin-top: 5rem;
  min-height: calc(50vh - 84px);
  width: 80%;
}

.cart-container-right {
  width: 50rem;
  border: 1px solid black;
  padding-left: 4rem;
  height: 38rem;
  overflow: auto;
}

.cart-container-left {
  border: 1px solid black;
  padding: 2rem;
}

.cart-flex-container-left {
  display: flex;
  justify-content: end;
  padding-right: 2.5rem;
  gap: 6rem;
  font-weight: bold;
}

.cart-product-item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4rem;
  margin: 1.5rem 0;
}

.cart-flex-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.cart-product-item img {
  width: 20rem;
  height: auto;
}


.cart-totals {
  margin-top: 2rem;
  font-weight: bold;
}

.subtotal {
  margin-top: 3rem;
}

.shipping {
  margin-top: 3rem;
}

.total {
  margin-top: 3rem;
}

.or {
  margin-top: 1rem;
  text-align: center;
  padding-right: 4rem;
}

.pay {
  color: var(--primaryColor);
}

.pal {
  color: var(--pal);
}

.item-amount-cart {
  font-size: 1.4rem;
  font-weight: bold;
}

.subtotal-flex {
  display: flex;
  gap: 40%;
}

.total-flex {
  display: flex;
  gap: 50%;
}