/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* 
  - Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .banner-title {
    margin-top: 10rem;
  }

  .banner-paragraph {
    width: 40%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .products-container-left {
    display: none;
  }

  /**************************/
  /* BELOW 704px (Smaller tablets) */
  /**************************/

  @media (max-width: 44em) {

    .footer .grid {
      column-gap: 15rem;
    }

    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: repeat(2, 1fr);
    }

    .banner-paragraph {
      width: 60%;
    }

    .logo-col,
    .address-col {
      grid-column: span 3;
    }

    .nav-col {
      grid-row: 1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
    }

    .logo {
      display: none;
    }

    .cart {
      width: 40%;
    }

    .menu {
      width: 40%;
    }

    .products .products-center {
      width: 100%;
      margin: 0 auto;
      margin-left: 4rem;
    }

    .product-element {
      margin-top: 8rem;
    }

    .smart-header {
      margin-right: 5rem;
    }

    /* ************************* */
    /* CART PRODUCTS PAGE */
    /* ************************* */

    .cart-products {
      display: flex;
      flex-direction: column;
    }

    .cart-container-right {
      margin: 0 auto;
    }

  }

  /**************************/
  /* BELOW 544px (Phones) */
  /**************************/

  @media (max-width: 34em) {
    .footer .grid {
      column-gap: 5.4rem;
      row-gap: 4.8rem;
    }

    .banner-paragraph {
      width: 80%;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: 1fr;
    }

    .logo {
      display: none;
    }

    .products .products-center {
      margin-left: 4.5rem;
    }

    .navbar {
      padding: 1.2rem 2rem 1.2rem 2rem;
    }

    .dark-mode-icon {
      margin-right: 8rem;
    }

    .product-description {
      display: none;
    }

    .product-element {
      margin-top: 4rem;
    }

    .cart {
      width: 100%;
    }

    .menu {
      width: 100%;
    }

    .cart-container-right {
      width: 100%;
    }
  }

  @media (max-width: 22em) {
    .banner-paragraph {
      width: 100%;
    }

    .products .products-center {
      margin-left: 2.5rem;
    }

    .product-element {
      margin-left: 2rem;
      margin-top: 6rem;
    }

    .product-stock {
      margin-top: 0rem;
    }

    .cart-container-right {
      width: 100%;
    }
  }
}